<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020673688474-n96rutgj0g57mrgflq79lu9tdvcqoklo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020673688474-n96rutgj0g57mrgflq79lu9tdvcqoklo</string>
	<key>API_KEY</key>
	<string>AIzaSyCohV6Guz3BYWRq07dqB5ZzOKHh2TdNy8c</string>
	<key>GCM_SENDER_ID</key>
	<string>1020673688474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-e966c</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-e966c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020673688474:ios:9463162d0e2be2fe6eb023</string>
</dict>
</plist>